body{
	background-color: #e7f3cd;
}
.wrap{
	width: 800px;
	height: 600px;
	background-image: url("images/window-fog.jpg");
	margin: auto;
}

input{
	background-color: #efe6e9;
	border: 2px solid #50434c;
    border-radius: 4px;
    color: #5e4c5a;

}


.forms {
	width: 200px;
	margin-left: 150px;
	padding-top: 100px;
}

p{
	text-align: center;
}

.plants{
	padding: 65px 1px 0px;

}

.images{
	margin-left: 110px; 
}

#hanging{
	position: relative;
	bottom: 444px;
	left: 80px
}

#ivy{
	position: relative;
	bottom: 262px;
	left: 616px;
}

#displayImg{
	position: absolute;
	width: 265px;
	height: 125px;
	right: -21%;
	top: -42%;
	left: 0px;
	bottom: 0px;
	margin: auto;
	color: #5e4c5a;
	text-align: center;
}

#logo{
	position: absolute;
	top: -17%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
}

img#help{
	position: absolute;
	left: 75%;
	top: 5px;
}

@keyframes highlight {
	to{
		-webkit-filter: drop-shadow(3px 3px 0 white)
		drop-shadow(-3px 3px 0 white)
		drop-shadow(3px -3px 0 white)
      		drop-shadow(-3px -3px 0 white); 

	filter: drop-shadow(3px 3px 0 white) 
		drop-shadow(-3px 3px 0 white)
		drop-shadow(3px -3px 0 white)
       		drop-shadow(-3px -3px 0 white); 
	}
}

.active{
	animation: highlight 2s ease-in-out infinite alternate;
}