* {box-sizing: border-box;
}


body{
	background-color: #3f6352;
}
.wrap{
	width: 800px;
	height: 600px;
	position: relative;
	background-image: url("images/window-fog.jpg");
	margin: auto;
}

input{
	background-color: #efe6e9;
	border: 2px solid #50434c;
    border-radius: 4px;
    color: #5e4c5a;

}

form {
	padding-top: 110px;
	padding-left: 80px;
	width: 50%;
	display: inline-block;
}

input[type=submit]{
	box-shadow: 1px 31px 54px -17px rgba(0,0,0,0.75);
}


p{
	text-align: center;
	line-height: .1;
}

.plants{
	padding: 3px;

}

.images{
	position: relative;
	margin-left: 110px; 
	height: 200px;
	display: flex;
}

.images img{
	align-self: flex-end;
}



#hanging{
	position: absolute;
	bottom: 100px;
	left: -30px;
}

#ivy{
	position: relative;
	top: 85px;
	left: 5px;
	
}

.sec{
	width: 50%;
	display: inline-block;
	float: right;
	padding-top: 110px;
}

#displayImg{
	width: 280px;
	height: 125px;
	color: #5e4c5a;
	background-color: rgba(225,255,255, .7);
	border-radius: 4px;
	margin-left: 10px;
	padding: 3px;

}

#logo{
	position: absolute;
	left: 275px;
}

img#help{
	position: fixed;
	padding: 10px;
}

@keyframes highlight {
	to{
		-webkit-filter: drop-shadow(3px 3px 1px  white)
		drop-shadow(-3px 3px 1px white)
		drop-shadow(3px -3px 1px white)
      		drop-shadow(-3px -3px 1px white); 

	filter: drop-shadow(3px 3px 0 white) 
		drop-shadow(-3px 3px 0 white)
		drop-shadow(3px -3px 0 white)
       		drop-shadow(-3px -3px 0 white); 
	}
}


.range{
	text-align: center;
}
.active{
	animation: highlight 2s ease-in-out infinite alternate;
}

.help-menu{
	display: none;
}

.help-menu-active{
	z-index: 1;
	width: 800px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0, .5);
	position: absolute;
	top: 0;
}

.help-menu img{
	width: 640px;
	height: 480px;
}